.about-us-container{
    /* margin: 20px; */
    padding: 20px;
    text-align: justify;
}

.column{
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto 64px auto;
}

.about-us-container h2{
    margin-bottom: 32px;
}

.best-Seller-Images-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    text-align: center;
    max-width: 1200;
}

.image-Container img{
    width: 70vw; 
}

.bestSeller-image {
    flex: 30%;
    padding: 20px;
}

#operating-hours {
    margin-top: 20px;
}