.wrapper {
}

.content {
  width: 100%;
  max-width: 120rem;
  margin: calc(1.8rem + 1vmin) auto 0 auto;
  display: block;
  /* margin: 0 auto; */
}

.items {
  width: 100%;
  padding: 0 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

@media only screen and (min-width: 769px) {
  .content {
    display: flex;
    align-items: flex-start;
  }
}
